* {
  margin: 0;
}
.App {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 1280px;
  border: 5px solid rgb(112, 112, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main_section {
  width: 1280px;
  border: 5px solid rgb(112, 112, 241);
}



